<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= @page_title || 'because goths need love to' %> - hugagoth.com</title>
	<%= auto_discovery_link_tag :rss, '/feed.rss', :title => 'hug a goth RSS feed' %>
	<%= stylesheet_link_tag 'reset', 'hugagoth' %>
</head>

<body>

<!-- begin #wrapper -->
<div id="wrapper">

	<!-- begin #header -->
	<div id="header">
		<h1><%= link_to 'hug a goth', :root %></h1>
		<h2>and put a smile on the face of the damned</h2>
		<ul>
			<li><%= link_to_unless_current 'home', :root %></li>
			<li><%= link_to_unless_current 'about', :about %></li>
			<li><%= link_to_unless_current 'disclaimer', :disclaimer %></li>
		</ul>
	</div>
	<!-- end #header -->
	
	<div id="content">
		
		<div id="ads_right">
			<script type="text/javascript"><!--
			google_ad_client = "pub-2758710432338755";
			/* hugagoth.com right skyscraper */
			google_ad_slot = "0175437426";
			google_ad_width = 120;
			google_ad_height = 600;
			//-->
			</script>
			<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>

		<%= @content_for_layout %>
	
	</div>
	
	<div id="footer">
		<div id="ads_footer">
			<script type="text/javascript"><!--
			google_ad_client = "pub-2758710432338755";
			/* hugagoth.com footer links */
			google_ad_slot = "5203176853";
			google_ad_width = 468;
			google_ad_height = 15;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
		&copy; 2008 <%= link_to 'Steven Wilkin', 'http://stevenwilkin.com' %>
	</div>

</div>
<!-- end #wrapper -->

<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
	try {
		var pageTracker = _gat._getTracker("UA-2764682-7");
		pageTracker._trackPageview();
	} catch(err) {}
</script>

</body>

</html>
