<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Because goths need love to - hugagoth.com</title>
	<%= stylesheet_link_tag 'reset', 'hugagoth' %>
</head>

<body>

<!-- begin #wrapper -->
<div id="wrapper">

	<!-- begin #header -->
	<div id="header">
		<h1><%= link_to 'hug a goth', :root %></h1>
		<h2>and put a smile on the face of the damned</h2>
		<ul>
			<li><%= link_to 'about', :about %></li>
		</ul>
	</div>
	<!-- end #header -->
	
	<div id="content">
		
		<%= @content_for_layout %>
	
	</div>
	
	<div id="footer">
		&copy; 2008 <%= link_to 'Steven Wilkin', 'http://stevenwilkin.com' %>
	</div>

</div>
<!-- end #wrapper -->

</body>

</html>
